@page "/cat"

<PageTitle>Cat facts</PageTitle>

@using api.Cat
@inject ICatService CatService

<h1>Cat facts</h1>

<button type="button" class="btn-primary" @onclick="AddFactAsync">New fact!</button>
<button type="button" class="btn" @onclick="Clear">Clear list</button>

@if (!string.IsNullOrEmpty(error)){
    <p>@error</p>
}

<table class="table">
    <thead>
        <tr>
            <th>Fact</th>
            <th>Length</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fact in catFacts)
        {
            <tr>
                <td>@fact.Fact</td>
                <td>@fact.Length</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<CatFact> catFacts = new();
    private string? error;

    private async Task AddFactAsync()
    {
        CatFact newFact;

        try {
            newFact = await CatService.GetCatFactAsync();
            catFacts.Add(newFact);
            error = null;
        }
        catch (Exception e){
            error = e.Message;
        }
    }

    private void Clear() =>
        catFacts.RemoveAll(f => true);
}