@page "/ipinfo"

<h3>IP Addresses</h3>

<p>
<label>
    IP address
    <input @bind="searchInput" />
</label>
<button @onclick="() => Search(searchInput)">
    Search
</button>
<button @onclick="() => Search(RandomIpAddress())">
    Random
</button>
</p>

@if (isLoading == true) {
    <p>Loading...</p>
}
@if (!string.IsNullOrEmpty(error)) {
    <p>error</p>
}

<h4>Address information</h4>
<table class="table">
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    @foreach (var info in _ipInfo)
    {
        <tr>
            <th>@info.Key</th>
            <td>@info.Value</td>
        </tr>
    }
</table>

<h4>History</h4>
<table class="table">
    <thead>
        <tr>
            <th>IP address</th>
            <th>Search time</th>
            <th>Search again</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in _history.OrderByDescending(i => i.searchTime))
        {
            <tr>
                <td>@i.ipAddress</td>
                <td>@i.searchTime</td>
                <td><button @onclick="() => Search(i.ipAddress)">
                    Search
                </button></td>
            </tr>
        }
    </tbody>
</table>

